<%= render "partials/titleAndNewBttn", title: "Sucursales", url_path: new_branch_path %>

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Direccion</th>
      <th>Telefono</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @branches.each do |branch| %>
      <tr>
        <td><%= branch.nombre %></td>
        <td><%= branch.direccion %></td>
        <td><%= branch.telefono %></td>
        <td>
          <%= link_to branch, :class =>"btn btn-success btn-xs"  do %>
            <span class="glyphicon glyphicon-plus"></span>
          <% end %>
          <%= render "partials/editBttn", url_path: edit_branch_path(branch) %>
          <%= render "partials/deleteBttn", url_path: branch %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>