<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="col-md-4"></div>
    <div class="col-md-4">
      <h2>Nuevo usuario</h2>
      <%= devise_error_messages! %>

      <label>Email</label>
      <%= f.email_field :email, autofocus: true, class: 'form-control', autofocus: true, type: 'email' %></br>
      <label>Contraseña</label><em> <%= @minimum_password_length %> caracteres minimos</em>
      <%= f.password_field :password, autocomplete: "off", class: 'form-control', type:"password" %></br>
      <label>Confirmar contraseña</label>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', type:"password" %></br>
      <%= hidden_field_tag(:permission_level, 1) %>

      <div class="actions">
        <%= f.submit "Crear", class: "btn btn-lg btn-success btn-block" %>
        <%= link_to "Atras", new_user_session_path %>
      </div>
    </div>
  <div class="col-md-4"></div>
<% end %>


<style>
  body {
    background-color: #eee;
  }
</style>