<div class="row">
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Mis turnos
      </div>
      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <th>Empresa</th>
              <th>Actividad</th>
              <th>Fecha</th>
              <th>Hora</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <% @user_shifts.each do |shift| %>
              <tr>
                <td></td>
                <td><%= shift.activity.Nombre %></td>
                <td><%= shift.fecha.strftime("%d/%m/%Y")%></td>
                <td><%= shift.hora_inicio.strftime("%H:%M hs")%></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        Empresas
      </div>
      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <th>Nombre</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <% @companies.each do |company| %>
              <tr>
                <td><%= company.razon_social %></td>
                <td>
                  <%= link_to "...", search_shifts_path(company.id), :class =>"btn btn-primary btn-xs" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>        
      </div>
    </div>    
  </div>
</div>