<h1>Empresas <%= link_to 'Nueva', new_company_path, :class =>"btn btn-success" %></h1>

<table class="table">
  <thead>
    <tr>
      <th>Rubro</th>
      <th>Razon social</th>
      <th>Cuit</th>
      <th>Titular</th>
      <th>Email</th>
      <th>Telefono</th>
      <th>Celular</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.nombre_rubro %></td>
        <td><%= company.razon_social %></td>
        <td><%= company.cuit %></td>
        <td><%= company.titular %></td>
        <td><%= company.email %></td>
        <td><%= company.telefono %></td>
        <td><%= company.celular %></td>
        <td><%= link_to 'Show', company %></td>
        <td><%= link_to 'Edit', edit_company_path(company) %></td>
        <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>