<%= render "partials/titleAndNewBttn", title: "Empresas", url_path: new_company_path %>

<table class="table">
  <thead>
    <tr>
      <th>Rubro</th>
      <th>Razon social</th>
      <th>Cuit</th>
      <th>Titular</th>
      <th>Celular</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.nombre_rubro %></td>
        <td><%= company.razon_social %></td>
        <td><%= company.cuit %></td>
        <td><%= company.titular %></td>
        <td><%= company.celular %></td>
        <td>
            <%= render "partials/editBttn", url_path: company_path(company) %>
            <%= render "partials/editBttn", url_path: edit_company_path(company) %>
            <%= render "partials/deleteBttn", url_path: company %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>