<h1>Gestion de turnos <%= link_to 'Generar turnos', new_shift_path, :class =>"btn btn-success" %></h1>

<%= render "partials/filtersManagementShift.html" %>

<table class="table">
  <thead>
    <tr>
      <th>Sucursal</th>
      <th>Actividad</th>
      <th>Fecha</th>
      <th>Hora Inicio</th>
      <th>Hora Fin</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @shifts.each do |shift| %>
      <tr>
        <td><%= shift.activity.branch.nombre %></td>
        <td><%= shift.activity.Nombre %></td>
        <td><%= shift.fecha.strftime("%d/%m/%Y")  %></td>
        <td><%= shift.hora_inicio.strftime("%H:%M hs") %></td>
        <td><%= shift.hora_fin.strftime("%H:%M hs") %></td>
        <td>
          <%= link_to admin_path, :class =>"btn btn-warning btn-xs"  do %>
              <span class="glyphicon glyphicon-list-alt"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>