<%= form_for(area) do |f| %>
  <% if area.errors.any? %>
    <div id="error_explanation">
      <% area.errors.full_messages.each do |message| %>
        <li class="form-error"><%= message %></li>
      <% end %>
      </ul>
    </div>
    <br>
  <% end %>
  
  <div class="row">
    <div class="form-group col-md-6">
      <label for="codigo">Codigo</label>
      <%= f.text_field :codigo, class:"form-control", placeholder:"Codigo" %>
    </div>
  </div>

  <div class="form-group">
    <label for="codigo">Nombre</label>
    <%= f.text_field :nombre, class:"form-control", placeholder:"Nombre" %>
  </div>

  <div class="actions">
    <%= render "partials/saveAndCancelBttn", form: f, cancel_path: areas_path %>
  </div>
<% end %>
