<!DOCTYPE html>
<html>
  <head>
    <title>Msturnos</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<!--<div class="container theme-showcase">     
    <div class="container theme-showcase">     
      <% if user_signed_in? %>
        <%= render "partials/navbar" %>
      <% end %>

      <% if alert %>
        <p class="alert bg-danger"><%= alert %></p>
      <%end%> 

       
      <div class="jumbotron">-->

          <%= yield %>
      <!--</div>  
    </div> 
    </div>-->
  </body>
</html>
